.medical-viewer-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--bg-dark);
  font-family: 'Inter', sans-serif;
}

.sources-panel,
.tools-panel {
  grid-row: 1;
  background-color: var(--bg-light);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.sources-panel {
  grid-column: 1;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: none;
}

.tools-panel {
  grid-column: 2;
  justify-content: center;
  border-radius: 0.625rem;
}

.sources-panel-buttons,
.tools-panel-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.browser-panel,
.viewport-area {
  grid-row: 2;
  border-radius: 0.625rem;
  background-color: var(--bg);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.browser-panel {
  grid-column: 1;
  border-radius: 0 0 0.625rem 0.625rem;
  padding: 0.75rem;
  overflow-y: auto;
}

.viewport-area {
  grid-column: 2;
  padding: 0.5rem;
  overflow: hidden;
}
